@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  // Determine the widths of each part, based on 12 Bootstrap Cols
  var columns = 12 / Settings.MaxPerRow;
  var factor = 1 / Settings.MaxPerRow; // percentage of the content-width
  
  // define dom attribute for fancybox
  var fancyboxAttribute = "app-content-fancybox-" + CmsContext.Module.Id; 
}

<div class="row">
@foreach (var img in AsList(Data)) {
  var wrapInLink = img.Presentation.ImageLightbox != false;

  var imgField = img.Field("Image");
  var pic = Kit.Image.Picture(imgField, settings: "Content", factor: factor, imgClass: "w-100", imgAltFallback: img.EntityTitle);

  <div class='@(columns > 10 ? "col-12" : "col-12 col-sm-6") col-lg-@columns py-3' @Edit.TagToolbar(img)>

    @if (wrapInLink) {
      var lbPic = Kit.Image.Picture(imgField, settings: "Lightbox");
      var caption = img.Presentation.TitleLightbox != false ? pic.Alt : "";
      @:<a @fancyboxAttribute data-src="@img.Image" data-srcset="@lbPic.SrcSet" data-sizes="@lbPic.Sizes" data-preload="false" data-caption="@caption">
    }
    
    <figure class='@(img.Presentation.ImageLightbox != false ? "effect-zoom" : "") mb-0'>
      @if (img.Presentation.TitleLegend != false) {
        <figcaption class="pt-1 px-3 px-md-4 pb-3 pb-md-4 text-white">@pic.Alt</figcaption>
      }
      @pic
    </figure>

    @if (wrapInLink) {
      @:</a>
    }

  </div>
}
</div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts" })
@Html.Partial("../shared/FancyboxAssets.cshtml", new { FancyboxAttribute = fancyboxAttribute })
