@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  // get helper commands
  var linkHelper = CreateInstance("_LinkHelper.cshtml");
}

<div class="max-w-full mb-10 md:mb-16">
  <div class="grid grid-cols-1 gap-8 text-left md:gap-y-12 md:grid-cols-2 lg:grid-cols-3">

    @foreach (var link in AsList(Data))
    {
      var linkInfo = linkHelper.LinkInfos(link.Link, link.Window, link.Icon);
      <div @Edit.TagToolbar(link)>
        @if (linkInfo.Found)
        {
          @:<a class="text-black hover:no-underline group hover:text-black" href="@Tags.SafeUrl(link.Link)" target="@linkInfo.Window" title="@link.Title">

        }
        @if (Text.Has(link.Image))
        {
          <figure>
            <div class="w-full h-full overlay"></div>
            <img class="mb-3" src='@Tags.SafeUrl(link.Image + "?w=690&h=400&quality=70&mode=crop&scale=both")' alt="@link.Title" />
          </figure>
        }
        else
        {
          <div class="bg-primary" style="padding-bottom: 58%; margin-bottom:1rem;"></div>
        }
        <h4 class="mb-2 text-2xl font-bold">@link.Title</h4>
        @if (Text.Has(link.Description))
        {
          <p class="mb-3 leading-relaxed">@Html.Raw(Tags.Nl2Br(link.Description))</p>
        }
        @if (linkInfo.Found)
        {
          <span class="text-primary-500 group-hover:text-primary-800 group-hover:underline">@link.LinkText&nbsp;</span>
          <i class="transition ease-in-out transform text-primary-500 group-hover:text-primary-800 group-hover:translate-x-2 duration-2000 fas fa-chevron-right" aria-hidden="true"></i>
          @:</a>
        }
      </div>
    }
    
  </div>
</div>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,scripts,height,icons"})