<link rel="stylesheet" href="@App.Path/DefaultTemplates/css/styles.css" data-enableoptimizations="true" />

<div class="clearfix sc-element co-content co-content-text-only ly-margin-bottom">
    @Content.Toolbar
    @if(Presentation.HeadingType != "hide")
    {
        @Html.Raw("<" + Presentation.HeadingType + ">")
            @Content.Title
        @Html.Raw("</" + Presentation.HeadingType + ">")
    }
	<div class="co-text">
		@Html.Raw(Content.Text)
	</div>
</div>