@inherits Custom.Hybrid.RazorTyped
@using ThisApp.Data
@{
  var link = As<Link>(MyItem);
  var headingTag = MyItem.Presentation.String("HeadingType");
  var htmlTags = Kit.HtmlTags; // Short name for HtmlTags service for use below
}

<div class="text-center py-5" @Kit.Toolbar.Default(MyItem)>
  
  @if (headingTag != "hide")
  {
    @htmlTags.Custom(headingTag).Class("mb-4").Wrap(
      MyItem.Title,
      htmlTags.Br(),
      htmlTags.Small(MyItem.Get("Description"))
    )
  }

  @if (link.IsNotEmpty("Link"))
  {
    <a href='@link.LinkUrl' target='@link.WindowAuto' title="@MyItem.Title" class="btn btn-lg btn-outline-primary">
      <i class='co-icon fas @link.IconAuto' aria-hidden="true"></i>
      <span>@MyItem.Get("LinkText")</span>
    </a>
  }
</div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "icons"})