@inherits AppCode.Razor.Links
@using AppCode.Data

@{
  var link = MyLink;
  var headingTag = link.Presentation.String("HeadingType");
}

<div class="text-center py-5" @Kit.Toolbar.Default(link)>
  
  @if (headingTag != "hide")
  {
    @Kit.HtmlTags.Custom(headingTag).Class("mb-4").Wrap(
      MyItem.Title,
      Kit.HtmlTags.Br(),
      Kit.HtmlTags.Small(MyItem.Get("Description"))
    )
  }

  @if (link.IsNotEmpty("Link"))
  {
    <a href='@link.Link' target='@link.WindowAuto' title="@MyItem.Title" class="btn btn-lg btn-outline-primary">
      <i class='co-icon fas @link.IconAuto' aria-hidden="true"></i>
      <span>@MyItem.Get("LinkText")</span>
    </a>
  }

</div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "icons"})