@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using ThisApp.Code
@using ThisApp.Data
@{
  var linkInfo = AsItem<Link>(MyItem);
  var headingTag = MyItem.Presentation.String("HeadingType");
  var t = Kit.HtmlTags; // Short name for HtmlTags service for use below
}

<div class="text-center py-5" @Kit.Toolbar.Default(MyItem)>
  
  @if (headingTag != "hide") {
    @t.Custom(headingTag).Class("mb-4").Wrap(
      MyItem.Title,
      t.Br(),
      t.Small(MyItem.Get("Description"))
    )
  }

  @if (linkInfo.IsNotEmpty("Link")) {
    <a href='@MyItem.Url("Link")' target='@linkInfo.WindowAuto' title="@MyItem.Title" class="btn btn-lg btn-outline-primary">
      <i class='co-icon fas @linkInfo.IconAuto' aria-hidden="true"></i>
      <span>@MyItem.Get("LinkText")</span>
    </a>
  }
</div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "icons"})