@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  // get helper commands
  var linkHelper = GetCode("LinkHelper.cs");
}

<div class="row">
  @foreach (var link in AsList(Data)) {
    var linkInfo = linkHelper.LinkInfos(link);
    <div class="mb-4 col-12 col-md-6 col-lg-4 co-linkblock" @Edit.TagToolbar(link)>
      <h4>@link.Title</h4>
      <p>@Html.Raw(Tags.Nl2Br(link.Description))</p>

      @if (linkInfo.Found) {
        <a title="@link.Title" href="@link.Link" target="@linkInfo.Window" class="stretched-link">@link.LinkText <i class="fas fa-chevron-right" aria-hidden="true"></i></a>
      }
    </div>
  }
</div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts,icons"})