@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using ThisApp.Code
@using ThisApp.Data

<div class="row">
  @foreach (var link in AsItems<Link>(MyItems)) {
    
    <div class="mb-4 col-12 col-md-6 col-lg-4 co-linkblock" @Kit.Toolbar.Default(link)>
      <h4>@link.Title</h4>
      <p>@link.Html("Description", tweak: t => t.Input(Tags.Nl2Br))</p>

      @if (link.IsNotEmpty("Link")) {
        <a href='@link.Url("Link")' target='@link.WindowAuto' title="@link.Title" class="stretched-link">@link.Get("LinkText")
          <i class="fas fa-chevron-right" aria-hidden="true"></i>
        </a>
      }
    </div>
  }
</div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts,icons"})