<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" data-enableoptimizations="true" />
<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" data-enableoptimizations="true"></script>
<script type="text/javascript" src="@App.Path/dist/scripts.js" data-enableoptimizations="true"></script>

<div class="clearfix sc-element co-content co-content-image-left ly-margin-bottom row">
    @Edit.Toolbar(Content)
	<div class="col-sm-6 col-sm-push-6">
	@if(Presentation.HeadingType != "hide")
    {
		<div class="co-content-heading">
			@Html.Raw("<" + Presentation.HeadingType + ">")
				@Content.Title
			@Html.Raw("</" + Presentation.HeadingType + ">")
		</div>
    }
	<div class="co-text">
		@Html.Raw(Content.Text)
	</div>
	</div>
	<div class="col-sm-6 col-sm-pull-6">
    @if (!String.IsNullOrEmpty(Content.Image))
    {
        if (Presentation.ImageLightbox != null && Presentation.ImageLightbox) {
			var titel="";
			if(Presentation.TitleLightbox){
				if(!String.IsNullOrEmpty(Content.ImageCaption)){
					titel=Content.ImageCaption;
				} else {
					titel=Content.Title;
				}
			}
            @:<a title="@titel" class="fancybox" href="@Content.Image?maxwidth=1400&amp;maxheight=990">
        }
        <img class="co-content-image" src="@Content.Image?w=555" alt="@Content.Title" />
        if (Presentation.ImageLightbox != null && Presentation.ImageLightbox) {
            @:</a>
        }
    }
	</div>
</div>