@*
	todo: why does this have less includes?
	todo: why is there now div.co-content-heading  
*@
<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />

<div class="clearfix sc-element co-content co-content-text-only ly-margin-bottom">
    @Edit.Toolbar(Content)
    @if(Presentation.HeadingType != "hide")
    {
        @Html.Raw("<" + Presentation.HeadingType + ">")
            @Content.Title
        @Html.Raw("</" + Presentation.HeadingType + ">")
    }
	<div class="co-text">
		@Html.Raw(Content.Text)
	</div>
</div>