<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" data-enableoptimizations="true" />
<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" data-enableoptimizations="true"></script>
<script type="text/javascript" src="@App.Path/dist/scripts.js" data-enableoptimizations="true"></script>

<div class="clearfix sc-element co-content co-content-image-left ly-margin-bottom row">
    @Edit.Toolbar(Content)
	<div class="col-sm-6 col-sm-push-6">
		@* call sub-template to show the title with the correct H1-H6 tag *@
		@RenderPage("_Shared - header tag.cshtml")
	<div class="co-text">
		@Html.Raw(Content.Text)
	</div>
	</div>
	<div class="col-sm-6 col-sm-pull-6">
		@* call sub-template to show the image with all possible options *@
		@RenderPage("_Content - Shared part - image with Lightbox.cshtml", new { width = 555 })
	</div>
</div>