<link rel="stylesheet" href="@App.Path/DefaultTemplates/css/styles.css" data-enableoptimizations="true" />
<div class="clearfix sc-element co-content co-content-image-left ly-margin-bottom row">
	@Edit.Toolbar(Content)
	<div class="col-sm-8 col-sm-push-4">
	@if(Presentation.HeadingType != "hide")
	{
		<div class="co-content-heading">
			@Html.Raw("<" + Presentation.HeadingType + ">")
				@Content.Title
			@Html.Raw("</" + Presentation.HeadingType + ">")
		</div>
	}
	<div class="co-text">
		@Html.Raw(Content.Text)
	</div>
	</div>
	<div class="col-sm-4 col-sm-pull-8">
		@* call sub-template to show the image with all possible options *@
		@RenderPage("_Content - Shared part - image with Lightbox.cshtml", new { width = 555 })
	</div>
</div>