@* this is to support multiple CSS frameworks - see http://connect-koi.net/ *@
@using Connect.Koi 

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "fancybox,styles,scripts"})

@{
	var pictureHelper = CreateInstance("_Helper-Picture.cshtml");
}

<div class="co-container-outer">
	<div class="co-container-inner clearfix sc-element co-content co-content-image-right co-text-beside-image mb-4">
		<div class="row">
			@Edit.Toolbar(Content)
			<div @Koi.Class("bs3='col col-sm-6' bs4,oth='col-md-6'")>
				@* call sub-template to show the title with the correct H1-H6 tag *@
				@RenderPage("_Shared - header tag.cshtml")
				<div class="co-text">
					@Html.Raw(Content.Text)
				</div>
			</div>
			<div @Koi.Class("bs3='col col-sm-6' bs4,oth='col-md-6'")>
				@* call sub-template to show the image with all possible options
				@RenderPage("_Shared - image and optional Lightbox.cshtml", new { img = Content, width = 540 }) *@

				<a data-caption="@Content.Title" class="fancybox" href="@Content.Image?maxwidth=1400&amp;maxheight=990&amp;quality=75">
					@(pictureHelper.Picture(Content.Image, 16.0/9.0, 80, 80,"mode=crop&scale=both", Content.Title, new[] { 528, 720, 427, 531, 670 }))
				</a>
			</div>
		</div>
	</div>
</div>
