@*
	todo: why does this have less includes?
	todo: why is the div.co-content-heading outside the if? 
*@
<link rel="stylesheet" href="@App.Path/DefaultTemplates/css/styles.css" data-enableoptimizations="true" />
<div class="clearfix sc-element co-content co-content-image-right ly-margin-bottom row">
	@Edit.Toolbar(Content)
	<div class="col-sm-8">
	<div class="co-content-heading">
		@if(Presentation.HeadingType != "hide")
		{
			@Html.Raw("<" + Presentation.HeadingType + ">")
				@Content.Title
			@Html.Raw("</" + Presentation.HeadingType + ">")
		}
	</div>
	<div class="co-text">
		@Html.Raw(Content.Text)
	</div>
	</div>
	<div class="col-sm-4">
		@* call sub-template to show the image with all possible options *@
		@RenderPage("_Content - Shared part - image with Lightbox.cshtml", new { width = 555 })
	</div>
</div>