<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />

@{
    var fileExtensions = new List<string> { ".pdf", ".doc", ".docx", ".xls", ".xlsx", ".ppt", ".pptx", ".ppsx", ".txt" };
}

<ul class="co-documents">
    @foreach (var Content in AsDynamic(Data["Default"]))
    {
        var linkType = fileExtensions.Contains(System.IO.Path.GetExtension(Content.DocumentOrLink.ToLower())) ? "file" : 
            Content.DocumentOrLink.Contains(Dnn.Portal.PortalAlias.HTTPAlias) ? "internal" : "external";
        
        <li class="sc-element co-document">
            @Edit.Toolbar(Content)
            <a target="@(linkType == "internal" ? "_self" : "_blank")" href="@Content.DocumentOrLink" title="@Content.Title">
                <span class="pull-left glyphicon glyphicon-@(linkType == "file" ? "file" : "new-window")"></span>
                <div class="co-document-text">
                    <span class="co-link">@Content.Title</span>
                    <p>@Html.Raw(Content.Description.Replace("\n","<br/>"))</p>
                </div>
            </a>
        </li>
    }
</ul>