@*
	This is a sub-template of the image templates
*@

@using Connect.Koi

@{
	var width = PageData["width"];
	var columns = PageData["gridColumns"];

	var retina = false;
	var zoomW = retina ? 3200 : 1600;
	var zoomH = retina ? 1800 : 900;
	var quality = 75;
	var lightboxQuality = 90;
}
@foreach (var img in AsDynamic(Data["Default"]))
{
	<div @Koi.Class("all='sc-element' bs3='col col-sm-" + @columns + " sync-height-with-neighbors' bs4,oth='col-md-" + @columns + "'")>
		@Edit.Toolbar(img)
		@if (Presentation.ImageLightbox != null && Presentation.ImageLightbox) {
			@:<a title="@(Presentation.TitleLightbox ? img.Title : "")" class="fancybox" rel="group-@Dnn.Module.ModuleID" href="@img.Image?quality=@lightboxQuality&amp;maxwidth=@zoomW&amp;maxheight=@zoomH">
		}
		<img @Koi.Class("bs3='img-responsive' bs4,oth='img-fluid'") src="@img.Image?quality=@quality&amp;w=@width" alt="@img.Title" />
		@if (Presentation.ImageLightbox != null && Presentation.ImageLightbox) {
			@:</a>
		}
		@if(Presentation.TitleLegend is bool && Presentation.TitleLegend ){
			<div class="co-imgcaption">
				@img.Title
			</div>
		}
	</div>
}