@*
	This is a sub-template of the image templates
*@
@{
	var width = PageData["width"];
	var columns = PageData["gridColumns"];

	var retina = false;
	var zoomW = retina ? 3200 : 1600;
	var zoomH = retina ? 1800 : 900;
}
@foreach (var img in AsDynamic(Data["Default"]))
{
	<div class="col col-sm-@columns sc-element sync-height-with-neighbors">
		@Edit.Toolbar(img)
		@if (Presentation.ImageLightbox != null && Presentation.ImageLightbox) {
			@:<a title="@(Presentation.TitleLightbox ? img.Title : "")" class="fancybox" rel="group-@Dnn.Module.ModuleID" href="@img.Image?maxwidth=@zoomW&amp;maxheight=@zoomH">
		}
		<img class="img-responsive" src="@img.Image?w=@width" alt="@img.Title" />
		@if (Presentation.ImageLightbox != null && Presentation.ImageLightbox) {
			@:</a>
		}
		@if(Presentation.TitleLegend is bool && Presentation.TitleLegend ){
			<div class="co-imgcaption">
				@img.Title
			</div>
		}
	</div>
}