@*
	This is a sub-template of the image templates
*@

@using Connect.Koi

@{
	var width = PageData["width"];
	var height = PageData["height"];
	var columns = PageData["gridColumns"];

	var retina = false;
	var zoomW = retina ? 3200 : 1600;
	var zoomH = retina ? 1800 : 900;
	var quality = 75;
	var lightboxQuality = 90;
}
@foreach (var img in AsDynamic(Data["Default"]))
{
	<div @Koi.Class("all='sc-element' bs3='col col-sm-" + @columns + " sync-height-with-neighbors' bs4,oth='mb-4 col-md-" + @columns + "'")>
		@Edit.Toolbar(img)
		@if (img.Presentation.ImageLightbox != null && img.Presentation.ImageLightbox) {
			@:<a class="fancybox" data-caption="@(img.Presentation.TitleLightbox ? img.Title : "")" data-fancybox="group-@Dnn.Module.ModuleID" href="@img.Image?quality=@lightboxQuality&amp;maxwidth=@zoomW&amp;maxheight=@zoomH">
		}
		<figure>
		<div class="co-overlay">
		@if(img.Presentation.TitleLegend is bool && img.Presentation.TitleLegend)
		{
			<figcaption class="pt-1">
				@img.Title
			</figcaption>
		}
		</div>
		<img @Koi.Class("bs3='img-responsive' bs4,oth='img-fluid'") src="@img.Image?quality=@quality&amp;w=@width&amp;h=@height&amp;mode=crop&amp;scale=both&amp;anchor=@img.CropAnchor" alt="@img.Title" />
		</figure>
		@if (img.Presentation.ImageLightbox != null && img.Presentation.ImageLightbox) {
			@:</a>
		}
		
	</div>
}