@*
	todo: why is this not in the same div.co-image-wrapper etc.?
	todo: can we extract code, or even the entire file? 
*@
@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "fancybox,styles,scripts"})

@foreach (var Content in AsDynamic(Data["Default"]))
    {
	<div class="co-img-wrapper sc-element">
		@Edit.Toolbar(Content)
		@if (Presentation.ImageLightbox != null && Presentation.ImageLightbox) {		
			@:<a title="@(Presentation.TitleLightbox ? Content.Title : "")" class="fancybox" rel="group-@Dnn.Module.ModuleID" href="@Content.Image?maxwidth=1400&amp;maxheight=990">
		}
		<img class="img-responsive" src="@Content.Image?w=1200" alt="@Content.Title" />
		@if (Presentation.ImageLightbox != null && Presentation.ImageLightbox) {
			@:</a>
		}
		@if(Presentation.TitleLegend is bool && Presentation.TitleLegend ){
			<div class="co-imgcaption">
				@Content.Title
			</div>
		}
	</div>
	}