@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles,scripts,height"})

@{
    // get helper commands
    var Helpers = CreateInstance("_Helpers.cshtml");
}

<div class="co-container-outer">
	<div class="co-container-inner co-navigation co-navigation-@(Dnn.Module.ModuleID) co-navigation-text">
        <div class="row">
            @foreach (var linkItem in AsDynamic(Data["Default"]))
            {
                var linkInfo = Helpers.LinkInfos(linkItem.Link, linkItem.Window, linkItem.Icon);

                <div class="col col-xs-12 col-sm-6 col-md-4 sc-element sync-height-with-neighbors">
                    @Edit.Toolbar(linkItem)
                    <h3>@linkItem.Title</h3>
                    <p>@Helpers.ConvertLineBreaks(linkItem.Description)</p>
                    @if(linkInfo.Found)
                    {
                        <a target="@linkInfo.Window" title="@linkItem.Title" href="@linkItem.Link">@linkItem.LinkText&nbsp;<span class="glyphicon glyphicon-menu-right glyphicon-right-custom" aria-hidden="true"></span></a>
                    }
                </div>
            }
        </div>
    </div>
</div>