<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />
<script type="text/javascript" src="@App.Path/dist/jquery.syncHeightResponsive.min.js" data-enableoptimizations="true"></script>
<script type="text/javascript" src="@App.Path/dist/scripts.js" data-enableoptimizations="true"></script>

@{
    // get helper commands
    var Helpers = CreateInstance("_Helpers.cshtml");
}

<div class="row co-navigation co-navigation-@(Dnn.Module.ModuleID) co-navigation-icon co-navigation-text">
    @foreach (var Content in AsDynamic(Data["Default"]))
    {
        var linkInfo = Helpers.LinkInfos(Content.Link, Content.Window, Content.Icon);

        <div class="col col-xs-12 col-sm-6 col-md-4 sc-element">
            @Edit.Toolbar(Content)
            @if(linkInfo.Found)
            {
                @:<a class="co-link-box" title="@Content.Title" href="@Content.Link" target="@linkInfo.Window">
            }
            <div class="row">
                <div class="col-xs-2 text-center">
                    <i class="co-icon text-primary co-icon glyphicon @linkInfo.Icon" aria-hidden="true"></i>
                </div>
                <div class="col-xs-10">
                    <h3>@Content.Title</h3>
                    <p>@Helpers.ConvertLineBreaks(Content.Description)</p>
                    @if(!String.IsNullOrEmpty(Content.Link))
                    {
                        <span class="text-primary"><i class="glyphicon glyphicon-chevron-right text-primary" aria-hidden="true"></i>&nbsp;@Content.LinkText</span>
                    }
                </div>
            </div>
            @if(linkInfo.Found)
            {
                @:</a>
            }
        </div>
    }
</div>

<script>
    /* Call syncHeightResponsive here - makes sure that sync height also works after ajax reload */
    $(".co-navigation-@(Dnn.Module.ModuleID) .col").syncHeightResponsive();
</script>