@using Connect.Koi

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles"})

<div class="co-container-outer">
	<div class="co-container-inner co-button-wrapper text-center sc-element">
        @foreach (var linkItem in AsDynamic(Data["Default"]))
        {
            // get helper commands
            var Helpers = CreateInstance("_Helpers.cshtml");
            var linkInfo = Helpers.LinkInfos(linkItem.Link, linkItem.Window, linkItem.Icon);

            @Edit.Toolbar(linkItem)
            <div class="co-title">
                @if(Presentation.HeadingType != "hide")
                {
                    @Html.Raw("<" + Presentation.HeadingType + ">")
                        @linkItem.Title
                        <br/>
                        <small>@linkItem.Description</small>
                    @Html.Raw("</" + Presentation.HeadingType + ">")
                }
            </div>
            if(linkInfo.Found) {
                <a target="@linkInfo.Window" @Koi.Class("bs3='btn btn-primary' bs4,oth='btn btn-primary'") href="@linkItem.Link">
                    <i class="co-icon fas @linkInfo.Icon" aria-hidden="true"></i>
                    <span>@linkItem.LinkText</span>
                </a>
            }
        }
    </div>
</div>