<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />

@{
    var Helpers = CreateInstance("_Helpers.cshtml");
}

<ul class="co-documents row">
    @foreach (var Content in AsDynamic(Data["Default"]))
    {
        var LinkType = Helpers.LinkType(Content);
        <li class="sc-element co-document col-md-12">
            @Edit.Toolbar(Content)
            @if(LinkType != "none"){
                @:<a target="@(Content.Window != "auto" ? Content.Window : (LinkType == "internal" ? "_self" : "_blank"))" href="@Content.Link" title="@Content.Title">
            }
                <span class="pull-left glyphicon @(!String.IsNullOrEmpty(Content.Icon) ? Content.Icon : (LinkType == "file" ? "glyphicon-file" : "glyphicon-new-window"))"></span>
                <div class="co-document-text">
                    <span class="@(LinkType != "none" ? "co-link" : "")">@Content.Title</span>
                    <p>@Html.Raw(Content.Description.Replace("\n","<br/>"))</p>
                </div>
            @if(LinkType != "none"){
                @:</a>
            }
        </li>
    }
</ul>