@*
    todo: show risk 
*@
<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />

@{
    // this contains some 
    var Helpers = CreateInstance("_Helpers.cshtml");
}

<ul class="co-documents row">
    @foreach (var Content in AsDynamic(Data["Default"]))
    {
        var linkInfo = Helpers.LinkInfos(Content.Link, Content.Window, Content.Icon);

        <li class="sc-element co-document col-md-12">
            @Edit.Toolbar(Content)
            @if(linkInfo.Found){
                @:<a target="@linkInfo.Window" href="@Content.Link" title="@Content.Title">
            }
                <span class="pull-left glyphicon @linkInfo.Icon"></span>
                <div class="co-document-text">
                    <span class="@(linkInfo.Found ? "co-link" : "")">@Content.Title</span>
                    <p>@Helpers.ConvertLineBreaks(Content.Description)</p>
@* demo of bug                    <p>@Html.Raw(Content.Description.Replace("\n","<br/>"))</p> *@
                </div>
            @if(linkInfo.Found){
                @:</a>
            }
        </li>
    }
</ul>