@*
    todo: maybe enable looping so the user can still change between templates
*@
@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles"})

@{
    // get helper commands
    var Helpers = CreateInstance("_Helpers.cshtml");
    var linkInfo = Helpers.LinkInfos(Content.Link, Content.Window, Content.Icon);
}

<div class="co-button-wrapper text-center sc-element">
    @Edit.Toolbar(Content)
    <div class="co-title">
        @if(Presentation.HeadingType != "hide")
        {
            @Html.Raw("<" + Presentation.HeadingType + ">")
                @Content.Title
                <br/>
                <small>@Content.Description</small>
            @Html.Raw("</" + Presentation.HeadingType + ">")
        }
    </div>
    @if(linkInfo.Found) {
        <a 
        target="@linkInfo.Window"
        class="btn btn-primary"
        href="@Content.Link">
            <i class="co-icon glyphicon @linkInfo.Icon" aria-hidden="true"></i>
            @Content.LinkText
        </a>
    }
</div>