@using Connect.Koi

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles,scripts,height"})

@{
    // get helper commands
    var Helpers = CreateInstance("_Helpers.cshtml");
}


<div class="co-container-outer">
	<div class="co-container-inner co-navigation co-navigation-@(Dnn.Module.ModuleID) co-navigation-image">
		<div class="row">
			@foreach (var linkItem in AsDynamic(Data["Default"]))
			{
				var linkInfo = Helpers.LinkInfos(linkItem.Link, linkItem.Window, linkItem.Icon);

				<div @Koi.Class("all='sc-element' bs3='col col-xs-12 col-sm-6 col-md-4 sync-height-with-neighbors' bs4,oth='col-12 col-md-6 col-lg-4'")>
					@Edit.Toolbar(linkItem)
					@if(linkInfo.Found)
						{
							@:<a target="@linkInfo.Window" class="co-link-box" title="@linkItem.Title" href="@linkItem.Link">
						}
						<div class="co-img-wrapper">
							@if(!String.IsNullOrEmpty(linkItem.Image))
							{
								<img src="@linkItem.Image?w=690&amp;h=345&amp;quality=80&amp;mode=crop&amp;scale=both" alt="@linkItem.Title" />
							} else {
								<div class="co-img-placeholder"></div>
							}
						</div>
						<h3>@linkItem.Title</h3>
						@if(!String.IsNullOrEmpty(linkItem.Description))
						{
							<p>@Helpers.ConvertLineBreaks(linkItem.Description)</p>
						}
						@if(linkInfo.Found)
						{
							<span class="co-link">@linkItem.LinkText&nbsp;<span class="" aria-hidden="true">&rsaquo;</span></span>
							@:</a>
						}
					
				</div>
			}
		</div>
	</div>
</div>