@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles,scripts,height"})

@{
    // get helper commands
    var Helpers = CreateInstance("_Helpers.cshtml");
}

<div class="co-container-outer">
	<div class="co-container-inner co-navigation co-navigation-@(Dnn.Module.ModuleID) co-navigation-icon co-navigation-text">
        <div class="row">
            @foreach (var linkItem in AsDynamic(Data["Default"]))
            {
                var linkInfo = Helpers.LinkInfos(linkItem.Link, linkItem.Window, linkItem.Icon);

                <div class="col col-xs-12 col-sm-6 col-md-4 sc-element sync-height-with-neighbors">
                    @Edit.Toolbar(linkItem)
                    @if(linkInfo.Found)
                    {
                        @:<a class="co-link-box" title="@linkItem.Title" href="@linkItem.Link" target="@linkInfo.Window" class="co-link">
                    }
                    <div class="row">
                        <div class="col col-xs-2 text-center">
                            <i class="co-icon text-primary co-icon glyphicon @linkInfo.Icon" aria-hidden="true"></i>
                        </div>
                        <div class="col col-xs-10">
                            <h3>@linkItem.Title</h3>
                            <p>@Helpers.ConvertLineBreaks(linkItem.Description)</p>
                            @if(!String.IsNullOrEmpty(linkItem.Link))
                            {
                                <span class="text-primary co-link">@linkItem.LinkText&nbsp;<span class="glyphicon glyphicon-menu-right glyphicon-right-custom" aria-hidden="true"></span></span>
                            }
                        </div>
                    </div>
                    @if(linkInfo.Found)
                    {
                        @:</a>
                    }
                </div>
            }
        </div>
    </div>
</div>
