@using Connect.Koi

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles"})

@{
    // get helper commands
    var Helpers = CreateInstance("_Helpers.cshtml");
}

<div class="co-container-outer">
	<div class="co-container-inner">
        <ul class="co-documents row">
            @foreach (var linkItem in AsDynamic(Data["Default"]))
            {
                var linkInfo = Helpers.LinkInfos(linkItem.Link, linkItem.Window, linkItem.Icon);

                <li @Koi.Class("all='sc-element co-document' bs3='col col-md-12' bs4,oth='col-lg-12'")>
                    @Edit.Toolbar(linkItem)
                    @if(linkInfo.Found){
                        @:<a target="@linkInfo.Window" href="@linkItem.Link" title="@linkItem.Title">
                    }
                        <span @Koi.Class("all='text-primary fas " + @linkInfo.Icon + "' bs3='pull-left' bs4,oth='float-left'")></span>
                        <div class="co-document-text">
                            <span class="@(linkInfo.Found ? "co-link" : "")">@linkItem.Title</span>
                            <p>@Helpers.ConvertLineBreaks(linkItem.Description)</p>
                        </div>
                    @if(linkInfo.Found){
                        @:</a>
                    }
                </li>
            }
        </ul>
	</div>
</div>