<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />

<div class="sc-element">
	@Edit.Toolbar(Content)
	<div class="embed-responsive embed-responsive-16by9 sc-element co-google-map-container">
		<div class="co-google-map embed-responsive-item" id="GoogleMap-@Dnn.Module.ModuleID">
		</div>
		<div class="co-google-map-content" id="GoogleMap-Content-@Dnn.Module.ModuleID" style="display:none;">
			<div>
				@Html.Raw(Content.Description)
				@{
					var directionurl = "https://maps.google.com/maps?daddr="+Content.Street.Replace(" ", "+")+"+"+Content.ZipCity.Replace(" ", "+")+"+"+Content.Country.Replace(" ", "+")+"&amp;saddr=&amp;f=d&amp;hl=de&amp;ie=UTF8&amp;z=16";
					if (Convert.ToInt32(Content.GPSLng) > 0){
						directionurl = "https://www.google.com/maps/dir//"+Content.GPSLat.ToString().Replace(',', '.')+","+Content.GPSLng.ToString().Replace(',', '.');
					}
				}
				<a target="_blank" href="@directionurl">@Content.LabelDirections</a>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="@App.Path/dist/google-map.js"></script>
<script type="text/javascript">
	$("#GoogleMap-@(Dnn.Module.ModuleID)").toGoogleMap({
		position: {
			lat: @Content.GPSLat.ToString().Replace(',', '.'),
			lng: @Content.GPSLng.ToString().Replace(',', '.')
		},
		zoom: @Presentation.Zoom,
		mapTypeId: "ROADMAP",
		infoWindowHtml: $("#GoogleMap-Content-@Dnn.Module.ModuleID").html(),
		showInfoWindow: true
	});
</script>
