@using Connect.Koi

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles,scripts,height"})

<div class="co-container-outer">
	<div class="co-container-inner co-person-wrapper co-person-wrapper-@(Dnn.Module.ModuleID)">
		<div class="row">
			@foreach (var person in AsDynamic(Data["Default"]))
			{
				<div @Koi.Class("all='sc-element co-person mb-4' bs3='co-sync-height-with-neighbors col col-sm-6' bs4,oth='col-md-6'")>
					@Edit.Toolbar(person)
					
					<div class="row">
						<div @Koi.Class("all='co-person-image' bs3='col col-xs-4' bs4,oth='col-4'")>
							@if (!String.IsNullOrEmpty(person.Photo))
							{
								<img src="@person.Photo?w=379&amp;h=488&amp;mode=crop&amp;quality=90" alt="@person.FullName" @Koi.Class("bs3='img-responsive' bs4,oth='img-fluid'") /> @* Format: Passphoto 1.2857 *@
							}
							else
							{
								<div class="co-person-placeholder"></div>
							}
						</div>

						<div @Koi.Class("all='co-person-text' bs3='col-xs-8' bs4,oth='col-8'") itemscope itemtype="http://schema.org/Person">
							@RenderPage("_Shared - Person Data.cshtml", new { data = person})
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>