@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  /* This Template is used in ca. 5 Views which show title, text and video */

  var isTextFirst = Settings.TextFirst;

  // Determine the widths of each part, based on 12 Bootstrap Cols
  var colsText = isTextFirst ? Settings.ColsElement1 : 12 - Settings.ColsElement1;
  var colsImg = 12 - colsText;
  var showImgBetweenTitleAndText = colsImg == 0; // if image has 0 columns, it's between title / text

  // Prepare items to show, count and index to find the last item (for styling)
  var allItems = AsList(Data);
  var itemsCount = allItems.Count();
  var itemIndex = 0;

	var sizes = "(max-width: 320px) 210px, (min-width: 375px) 252px, (min-width: 425px) 289px, (min-width: 768px) 236px, (min-width: 1024px) 332px, (min-width: 1440px) 400px";
}

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@* Show all the content-items - one or more *@
@foreach (var item in allItems) {

  var rowClass = ++itemIndex == itemsCount ? "mb-4 mb-lg-5" : ""; // if last item, add class to the row to add margin-bottom

  <div class='row @rowClass' @Edit.TagToolbar(item)>
    <div class='col-md-@colsText order-md-@(isTextFirst ? "first" : "last")'>
      @* call sub-template to show the title with the correct H1-H6 tag *@
      @Html.Partial("../shared/Header tag.cshtml", new { Item = item, HeadingType = item.Presentation.HeadingType })

      @* If the image doesn't have it's own column, its between title/text *@
      @if (showImgBetweenTitleAndText) {
        @Html.Partial("Video.Part-Playback.cshtml", new { Columns = 12, Video = item })
      }

      @Html.Raw(item.Text)
    </div>
    @* If the image has it's own column, it's here *@
    @if (!showImgBetweenTitleAndText) {
      <div class='col-md-@colsImg order-md-@(!isTextFirst ? "first" : "last")'>
        @Html.Partial("Video.Part-Playback.cshtml", new { Columns = colsImg, Video = item })
      </div>
    }
  </div>

  if (!Header.AlternatePositions) { continue; }
  isTextFirst = !isTextFirst;
}

@Html.Partial("../shared/Assets.cshtml", new { parts = "icons, scripts" })
