@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using ThisApp
@using ThisApp.Data
@using System.Text.RegularExpressions;

@*  Partial template used in _Video.cshtml to show preview and link-to-lightbox for the video  *@

@{
  // The video which was handed in
	var video = As<Video>(MyModel.Item("Item"));

  // this is the parameter passed in from the calling page, if not set, use 12
  var columns = MyModel.Int("Columns", fallback: 12);

  // get preview image
  var preview = GetService<ThisApp.VideoService>().Preview(video, columns);

  // DOM attribute for fancybox
  const string fancyboxAttribute = "app-content-fancybox-videos"; 
}

@* Case 1: lightbox is active, show lightbox link *@
@if (video.UseLightbox)
{
  <a @fancyboxAttribute class='co-video @(preview == null ? "co-video-no-image" : "")' data-width="1280" data-height="720" data-caption="@(preview?.Alt)" href="@video.YouTubeUrl">
    @if (preview != null)
    {
      <figure class="effect-zoom">
        @preview
      </figure>
    }
    @* SVG Code for Play Button *@
    @Html.Partial("Play SVG.cshtml")
  </a>
  @* activate fancybox scripts *@
  @Html.Partial("../shared/FancyboxAssets.cshtml", new { fancyboxAttribute })
}
@* Case 2: no lightbox, show directly *@
else
{
  // TODO: ratio ratio-16x9 only for octane - should be removed when bs5 is prepared
  <div class="co-video-embed ratio ratio-16x9 embed-responsive embed-responsive-16by9">
    @if (video.IsValidYouTube)
    {
      @* show preview or nothing if it's null *@
      @preview

      @* This SVG shows the play-icon on top of the video iframe *@
      <div class="overlay d-flex justify-content-center align-items-center w-100 h-100" data-youtube="iframe-@UniqueKey">
        @* SVG Code for Play Button *@
        @Html.Partial("Play SVG.cshtml")
      </div>

      <iframe id="iframe-@UniqueKey" data-youtube-src="@video.YouTubeUrl" allowfullscreen></iframe>
    }
    else
    {
      <div class="dnnFormMessage dnnFormWarning">Video not found. Please check Video-Link.</div>
    }
  </div>
}

@* Turn On video features. Activation uses turnOn https://r.2sxc.org/turnon *@
@Kit.Page.TurnOn("window.appContent.activateYouTubeInline()")
