@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@* This adds all link/script tags *@
@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,scripts,height"})

@{
  // get helper commands
  var Helpers = CreateInstance("../../shared/_Helpers.cshtml");
}

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner">
    <div class="row">
      @foreach (var link in AsDynamic(Data)) {
        var linkInfo = Helpers.LinkInfos(link.Link, link.Window, link.Icon);

				<div class="col-md-6 col-lg-4 mb-4 mb-md-5" @Edit.TagToolbar(link)>
          @if(linkInfo.Found) {
            @Tag.A().Class("co-linkblock").Title(link.Title).Href(link.Link).Target(linkInfo.Window).TagStart
          }
            <i class="mb-3 text-primary fas @linkInfo.Icon" aria-hidden="true" style="font-size: 40px;"></i>
            <h3>@link.Title</h3>
            <p>@Html.Raw(Tags.Nl2Br(link.Description))</p>
            @if(linkInfo.Found) {
            <span>@link.LinkText&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></span>
            @Tag.A().TagEnd
          } 
        </div>
      }
    </div>
  </div>
</div>
