@inherits ToSic.Sxc.Dnn.RazorComponent;
@using ToSic.Razor.Blade;
@* This adds all link/script tags *@
@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,scripts,height"})

@{
  // get helper commands
  var Helpers = CreateInstance("../../shared/_Helpers.cshtml");
}

<div class="co-container-outer">
	<div class="co-container-inner co-navigation co-navigation-@(Dnn.Module.ModuleID) co-navigation-icon co-navigation-text">
    <div class="row">
      @foreach (var link in AsDynamic(Data["Default"])) {
        var linkInfo = Helpers.LinkInfos(link.Link, link.Window, link.Icon);

        <div class="mb-4 col-12 col-md-6 col-lg-4" @Edit.TagToolbar(link)>
          @if(linkInfo.Found) {
            @:<a class="co-link-box" title="@link.Title" href="@link.Link" target="@linkInfo.Window" class="co-link">
          }
          <div class="row">
            <div class="col-2"><i class="co-icon text-primary fas @linkInfo.Icon" aria-hidden="true"></i></div>
            <div class="col-10">
              <h3>@link.Title</h3>
              <p>@Html.Raw(Tags.Nl2Br(link.Description))</p>
              @if(Text.Has(link.Link)) {
                <span class="text-primary co-link">@link.LinkText&nbsp;<span>&rsaquo;</span></span>
              }
            </div>
          </div>
          @if(linkInfo.Found) {
            @:</a>
          }
        </div>
      }
    </div>
  </div>
</div>
