@using ToSic.Razor.Blade;

@* put all necessary link/script tags here *@
@RenderPage("../shared/_Assets.cshtml", new { parts = "styles"})

@{
  // get helper commands
  var Helpers = CreateInstance("../../shared/_Helpers.cshtml");
}

<div class="co-container-outer">
	<div class="co-container-inner">
    <ul class="co-documents row">
      @foreach (var link in AsDynamic(Data["Default"]))
      {
        var linkInfo = Helpers.LinkInfos(link.Link, link.Window, link.Icon);

        <li class="co-document col-lg-12" @Edit.TagToolbar(link)>
          @if(linkInfo.Found) {
            @:<a target="@linkInfo.Window" href="@link.Link" title="@link.Title">
          }
            <span class="text-primary fas @linkInfo.Icon float-left"></span>
            <div class="co-document-text">
              <span class="@(linkInfo.Found ? "co-link" : "")">@link.Title</span>
              <p>@Html.Raw(Tags.Nl2Br(link.Description))</p>
            </div>
          @if(linkInfo.Found) {
            @:</a>
          }
        </li>
      }
    </ul>
	</div>
</div>