@inherits Custom.Hybrid.RazorTyped
@using ThisApp.Data
@{
  // This is a partial template which is re-used in many other templates, so it's shared here
  // its shows the person data like name, position, contact data and description
  var person = AsItem<Person>(MyModel.Item("data"));
}
<div class="mb-2">
  <div class="lead font-weight-bold" itemprop="name">@person.String("FullName")</div>
  @if (person.IsNotEmpty("Position"))
  {
    <div class="mb-2 lead font-weight-normal" itemprop="jobTitle">@person.Position</div>
  }
  <div itemprop="description">@person.Html("Description")</div>
</div>
<div class="co-p">
  @if (person.IsNotEmpty("Mobile"))
  {
    <div itemprop="telephone">
      <i class="fas fa-mobile text-center" style="width:30px;" aria-hidden="true"></i>
      <a href='tel:@person.Mobile.Replace(" ", "")' itemprop="telephone">@person.Mobile</a>
    </div>
  }
  @if (person.IsNotEmpty("Phone"))
  {
    <div itemprop="telephone">
      <i class="fas fa-phone text-center" style="width:30px;" aria-hidden="true"></i>
      <a href='tel:@person.Phone.Replace(" ", "")' itemprop="telephone">@person.Phone</a>
    </div>
  }
   @if (person.IsNotEmpty("Email"))
   {
    <div itemprop="email">
      <i class="fas fa-envelope text-center" style="width:30px;"></i>
      @(GetService<ThisApp.ProtectMailService>().TryToEncrypt(person.Email))
    </div>
  }
</div>
