@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@*
	This is a sub-template of the image templates
	Put all necessary link/script tags here
*@
@RenderPage("../shared/_Assets.cshtml", new { parts = "fancybox,styles,scripts,height"})

@{
	var width = PageData["width"];
	var height = PageData["height"];
	var columns = PageData["gridColumns"];

	var retina = false;
	var zoomW = retina ? 3200 : 1600;
	var zoomH = retina ? 1800 : 900;
	var quality = 75;
	var lightboxQuality = 90;
}

<div class="co-container-outer">
	<div class="co-container-inner">
		<div class="row">
			@foreach (var img in AsList(Data)) {
			
				<div class="@((columns) > 10 ? "col-12" : "col-6") col-md-@columns mb-3" @Edit.TagToolbar(img)>
				
					@if (img.Presentation.ImageLightbox) {
            @(Tag.A()
              .Class("fancybox")
              .Href(img.Image + "?quality=" + lightboxQuality + "&maxwidth=" + zoomW + "&maxheight=" + zoomH)
              .Attr("data-caption", img.Presentation.TitleLightbox ? img.Title : "")
              .Attr("data-fancybox", "group-" + Dnn.Module.ModuleID)
              .TagStart)
					}
					<figure>
							<div class="overlay w-100 h-100"></div>
              @if(img.Presentation.TitleLegend) {
								<figcaption class="pt-1 px-4 pb-4 text-white">@img.Title</figcaption>
							}

						@(Tag.Img()
							.Class("w-100")
							.Src(img.Image + "?w=" + width + "&h=" + height + "&anchor=" + img.CropAnchor + "&mode=crop&scale=both&quality=" + quality)
              .Alt(img.title))

					</figure>

					@if (img.Presentation.ImageLightbox) {
						@Tag.A().TagEnd
					}

				</div>
			}
		</div>
	</div>
</div>