@*
	This is a sub-template of the image templates
	Put all necessary link/script tags here
*@
@using ToSic.Razor.Blade;
@RenderPage("../shared/_Assets.cshtml", new { parts = "fancybox,styles,scripts,height"})

@{
	var width = PageData["width"];
	var height = PageData["height"];
	var columns = PageData["gridColumns"];

	var retina = false;
	var zoomW = retina ? 3200 : 1600;
	var zoomH = retina ? 1800 : 900;
	var quality = 75;
	var lightboxQuality = 90;
}

<div class="co-container-outer">
	<div class="co-container-inner co-img-wrapper co-img-wrapper-@(Dnn.Module.ModuleID) co-2colimg">
		<div class="row">
			@foreach (var img in AsDynamic(Data["Default"]))
			{
				<div class="mb-4 col-md-@columns" @Edit.TagToolbar(img)>
					@if (img.Presentation.ImageLightbox != null && img.Presentation.ImageLightbox) {
						@:<a class="fancybox" data-caption="@(img.Presentation.TitleLightbox ? img.Title : "")" data-fancybox="group-@Dnn.Module.ModuleID" href="@img.Image?quality=@lightboxQuality&amp;maxwidth=@zoomW&amp;maxheight=@zoomH">
					}
					<figure>
            @if(img.Presentation.TitleLegend is bool && img.Presentation.TitleLegend){
              <div class="co-overlay"><figcaption class="pt-1">@img.Title</figcaption></div>
            }

            @(Tag.Img()
              .Class("img-fluid")
              .Src(img.Image + "?w=" + width + "&h=" + height + "&anchor=" + img.CropAnchor + "&mode=crop&scale=both&quality=" + quality)
              .Alt(img.title))
					</figure>
					@if (img.Presentation.ImageLightbox != null && img.Presentation.ImageLightbox) {
						@:</a>
					}

				</div>
			}
		</div>
	</div>
</div>