@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@* This adds all link/script tags *@
@RenderPage("../shared/_Assets.cshtml", new { parts = "styles,scripts"})
<script type="text/javascript" src="@App.Path/dist/lib/google-map.js" data-enableoptimizations="true"></script>

@{
  // we need a unique ID for the map, in case there are many on the same page
  var mapId = Dnn.Module.ModuleID;

  // Language is used for the map-link
  var language = Dnn.Portal.CultureCode.Split(new[] { '-' })[0];

  // GPS is a JSON field, so we must use AsDynamic to access the properties
	var gps = AsDynamic(Content.GPS);
	var gpsLong = gps.Longitude ?? 0; // use 0 if not defined
	var gpsLat = gps.Latitude ?? 0;	  // use 0 if not defined

  // this link will be used to open the Google-Directions in a new window
  var directionurl = gpsLong > 0
		// if we have coordinates, use them
		? "https://www.google.com/maps/dir/" + gpsLat + "," + gpsLong
		// otherwise use the address
		: "https://maps.google.com/maps?daddr="
      + (Content.Street + " " + Content.ZipCode + " " + Content.City + " " + Content.Country)
        .Replace(" ", "+")
      + "&amp;saddr=&amp;f=d&amp;hl=" + language + "&amp;ie=UTF8&amp;z=16";

}

<div class="co-container-outer">
	<div class="co-container-inner co-contactmap mb-4" @Edit.TagToolbar(Content)>
		<div class="row">
			<div class="col col-sm-6">
			<address itemscope itemtype="http://schema.org/LocalBusiness">
				<div class="co-company" itemprop="name">
					<strong>@Content.Company<br/>@Content.CompanyAdd</strong>
				</div>
				<div class="co-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					@if (Text.Has(Content.Street)) {
						<span itemprop="streetAddress">
						@if (Text.Has(Content.Street)) {
							@Html.Raw(Tags.Nl2Br(Content.Street))<br>
						}
						</span>
					}
					@if (Text.Has(Content.City)) {
						if (Text.Has(Content.ZipCode)) {
							<span itemprop="postalCode">@Content.ZipCode</span>
						}
						<span itemprop="addressLocality">@Content.City</span><br>
					}
					@if (Text.Has(Content.Country)) {
						<span itemprop="addressCountry">@Content.Country</span><br>
					}
					@if(Text.Has(Content.LabelDirections)){
						<span class="fas fa-map-marker-alt"></span> <a target="_blank" href="@directionurl">@Content.LabelDirections</a>
					}
				</div>
				<div class="co-details">
					@if (Text.Has(Content.Mail)) {
						<div itemprop="email">
							<span class="fas fa-envelope"></span>
							@RenderPage("../../shared/_TryToEncryptMail.cshtml", new { email = Content.Mail })
						</div>
						<br/>
					}
					@if (Text.Has(Content.Tel)) {
						<span class="fas fa-phone" aria-hidden="true"></span> <a href="tel:@Content.Tel.Replace(" ", "")" itemprop="telephone">@Content.Tel</a><br/>
					}
					@if (Text.Has(Content.Fax)) {
						<span class="fas fa-fax" aria-hidden="true"></span> <span itemprop="faxNumber">@Content.Fax</span><br/>
					}
				</div>
				@if (Text.Has(Content.Description)) {
					<div class="co-description" itemprop="description">@Html.Raw(Content.Description)</div>
				}
			</address>
			</div>
			<div class="col col-sm-6">
				<div class="co-google-map-container embed-responsive embed-responsive-16by9">
					<div class="co-google-map embed-responsive-item" id="GoogleMap-@Dnn.Module.ModuleID">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		var markerImage = "@Text.First(Content.Presentation.MarkerImage, "")";
		$("#GoogleMap-@(Dnn.Module.ModuleID)").toGoogleMap({
			position: {
				lat: @gpsLat,
				lng: @gpsLong
			},
			zoom: @Content.Presentation.Zoom,
			mapTypeId: "ROADMAP",
			infoWindowHtml: "@Content.Company",
			showInfoWindow: false,
			icon: markerImage
		});
	});
</script>