@inherits Custom.Hybrid.Razor12
@{
  /* This Template is used in ca. 5 Views which show title, text and image */

  // define dom attribute for fancybox
  var fancyboxAttribute = "app-content-fancybox-group"; 
  var isTextFirst = Settings.TextFirst;

  // Determine the widths of each part, based on 12 Bootstrap Cols
  var colsText = isTextFirst ? Settings.ColsElement1 : 12 - Settings.ColsElement1;
  var colsImg = 12 - colsText;

  var hasMultipleItems = AsList(Data).Count() > 1;

}
<div class='@(hasMultipleItems && Edit.Enabled ? "pt-4" : "")' @(hasMultipleItems ? Edit.TagToolbar(Header) : "")>
  @foreach (var contentItem in AsList(Data)) {
    <div class="co-container-outer mb-4 mb-md-5">
      <div class="co-container-inner" @Edit.TagToolbar(contentItem, toolbar: new [] { "-new", "+new?&prefill:VarShowImage=false&prefill:VarShowText=false", "remove" })>
        <div class="row">
          <div class='col-md-@colsText order-md-@(isTextFirst ? "first" : "last")'>
            @* call sub-template to show the title with the correct H1-H6 tag *@
            @Html.Partial("../shared/_Header tag.cshtml")

            @* If the image doesn't have it's own column, its between title/text *@
            @if (colsImg == 0) {
              @Html.Partial("_Text and Image.Part-Image.cshtml", new { Item = contentItem })
            }

            @Html.Raw(contentItem.Text)
          </div>
          @* If the image has it's own column, it's here *@
          @if (colsImg != 0) {
            <div class='col-md-@colsImg order-md-@(isTextFirst ? "last" : "first")'>
              @* call sub-template to show the image with all possible options *@
              @Html.Partial("_Text and Image.Part-Image.cshtml", new { Item = contentItem, Columns = colsImg, FancyboxAttribute = fancyboxAttribute})
            </div>
          }
        </div>
      </div>
    </div>

    if (!Header.AlternatePositions) { continue; }

    isTextFirst = !isTextFirst;
    colsText = isTextFirst ? Settings.ColsElement1 : 12 - Settings.ColsElement1;
  }
</div>
@Html.Partial("../Shared/_Assets.cshtml", new { parts = "fancybox,styles", FancyboxAttribute = fancyboxAttribute })
@* Html.Partial("../shared/_Assets.cshtml", new { parts = "scripts"}) *@