@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@{
  // defines a unique dom Id for google map
  var googleMapDomId = "app-content-google-map-js-" + UniqueKey;
}

<div class="app-content-js-google-map-container position-relative" @Kit.Toolbar.Default(MyItem)>
  <div class="embed-responsive-item ratio ratio-21x9" id="@googleMapDomId"></div>
  @Html.Partial("Part GoogleMapsWarning.cshtml")
</div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts,icons"})
@Html.Partial("Part GoogleMaps.cshtml", new { DomId = googleMapDomId })
