@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  /* This is used in two views */
  var isRound = CmsContext.View.Identifier == "round";

  var aspectRatio = isRound ? "1" : "1:1.25";
  var photoSettings = Kit.Image.Settings("PersonPhoto", aspectRatio: aspectRatio);

  var mbClass = isRound ? "mb-2" : "";
  var imgClass = isRound ? "rounded-circle" : "";

  var placeholderStyle = "padding-bottom: " + (isRound ? "100%;" : "125%");
  
}
<div class="co-container-outer mb-4 mb-md-5">
  <div class="co-container-inner">
    <div class="row">
      @foreach (var person in AsList(Data)) {
        <div class="col-md-6 mb-4 mb-md-5 row" @Edit.TagToolbar(person)>
          <div class="col-4 @mbClass">
            @if (Text.Has(person.Photo)) {
              @Kit.Image.Picture(person.Field("Photo"), settings: photoSettings, imgClass: imgClass, imgAltFallback: person.FullName)
            } else {
              <div class="bg-primary placeholder @imgClass" style="@placeholderStyle"></div>
            }
          </div>

          <div class="col-8" itemscope itemtype="http://schema.org/Person">
            @Html.Partial("Part Properties.cshtml", new { data = person })
          </div>
        </div>
      }
    </div>
  </div>
</div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts,icons"})