@inherits Custom.Hybrid.Razor12
@{
  var hasMultipleItems = AsList(Data).Count() > 1;
}

<div class='@(hasMultipleItems && Edit.Enabled ? "pt-4" : "")' @(hasMultipleItems ? Edit.TagToolbar(Header) : "")>
  @foreach (var contentItem in AsList(Data))
  {
    <div @Edit.TagToolbar(contentItem, toolbar: new [] { "-new", "+new?&prefill:VarShowImage=false&prefill:VarShowText=false", "remove" })>
      @* call sub-template to show the title with the correct H1-H6 tag *@
      @Html.Partial("../shared/_Header tag.cshtml", new { Title = contentItem.Title })
    </div>
  }
</div>
@Html.Partial("../shared/_Assets.cshtml", new { parts = "styles,scripts" })