@inherits Custom.Hybrid.Razor14
@{
  /* This Template is used in ca. 5 Views which show title, text and image */

  // define dom attribute for fancybox
  var fancyboxAttribute = "app-content-fancybox-group";
  var isTextFirst = Settings.TextFirst;

  // Determine the widths of each part, based on 12 Bootstrap Cols
  var colsText = isTextFirst ? Settings.ColsElement1 : 12 - Settings.ColsElement1;
  var colsImg = 12 - colsText;

  var allContent = AsList(Data);
  var allContentLength = allContent.Count();
  var hasMultipleItems = allContentLength > 1;
}

@* If it's a list of items, also show edit-options for the header to allow configuring how the list should show *@
@Html.Partial("../shared/Content List Header.cshtml", new { HasMultipleItems = hasMultipleItems })

@* Show all the content-items - one or more *@
@for (var i = 0; i < allContentLength; i++)
{
  var item = allContent.ElementAt(i);
  var isLastRowClass = i == (allContentLength - 1) ? "" : "mb-4 mb-lg-5";

  <div class='row @isLastRowClass' @Edit.TagToolbar(item)>
    <div class='col-md-@colsText order-md-@(isTextFirst ? "first" : "last")'>
      @* call sub-template to show the title with the correct H1-H6 tag *@
      @Html.Partial("../shared/Header tag.cshtml", new { Title = item.Title })

      @* If the image doesn't have it's own column, its between title/text *@
      @if (colsImg == 0) {
        @Html.Partial("Text and Image.Part-Image.cshtml", new { Item = item })
      }

      @Html.Raw(item.Text)
    </div>

    @* If the image has it's own column, it's here *@
    @if (colsImg != 0) {
      <div class='col-md-@colsImg order-md-@(!isTextFirst ? "first" : "last")'>
        @* call sub-template to show the image with all possible options *@
        @Html.Partial("Text and Image.Part-Image.cshtml", new { Item = item, Columns = colsImg, FancyboxAttribute = fancyboxAttribute})
      </div>
    }
  </div>
  
  @* TODO: @2dg - same on bs3/4 *@
  @* If the header has AlternatePositions, switch the order of title/text for the next item *@
  if (Header.AlternatePositions) {
    isTextFirst = !isTextFirst;
  }
}

@Html.Partial("../shared/Assets.cshtml")
@Html.Partial("../shared/FancyboxAssets.cshtml", new { FancyboxAttribute = fancyboxAttribute })
