@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  /* This is a partial template which is re-used in the Content-Templates */

  // Parameter passed in from the calling page - if we don't have an image, exit
  var imgItem = DynamicModel.Item;  // The content-item with the image
  if (!Text.Has(imgItem.Image)) { return; }

  // Get the image field - this object will contain the url, metadata and more
  var imgField = imgItem.Field("Image");

  // Figure out width of the image based on max-width of a content-image and 12 Bootstrap Columns
  // The resulting value will be something like "12/12" or "4/12" which is used by the Link.Image(...)
  var resizeFactor = (DynamicModel.Columns ?? 12) + "/12";

  // Generate the standard Picture object early on, so we can also use medatata
  var pic = Kit.Image.Picture(imgField, settings: "Content", factor: resizeFactor, imgAltFallback: imgItem.EntityTitle);

  // prepare the title, either the default or the additional image caption
  var lightboxCaption = "";
  if (imgItem.Presentation.TitleLightbox != false) {
    lightboxCaption = pic.Alt;
  }

  var wrapInLink = imgItem.Presentation.ImageLightbox != false;
}

@if (wrapInLink) {
  var lbPic = Kit.Image.Picture(imgField, settings: "Lightbox");
  @:<a @DynamicModel.FancyboxAttribute data-src="@imgItem.Image" data-srcset="@lbPic.SrcSet" data-sizes="@lbPic.Sizes" data-preload="false" data-caption="@lightboxCaption">
}
  <figure class='@(imgItem.Presentation.ImageLightbox != false ? "effect-zoom" : "")'>
    @if (Text.Has(pic.Alt)) {
      <figcaption class="pt-1 px-4 pb-4 text-white">@pic.Alt</figcaption>
    }
    @pic
 
  </figure>
@if (wrapInLink) {
  @:</a>
}
