@inherits Custom.Hybrid.RazorTyped

@*  This Template is used in ca. 3 Views which only show the title and the text *@

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@{
  // Get the number of columns and the padding for the first column
  var cols = MyView.Settings.Int("ColsElement1");
  var padding = MyView.Settings.Int("ColsPaddingLeft");
  var styling = MyView.Settings.String("TextAlignment") == "c" ? "text-center" : "";

  // Prepare items to show, count and index to find the last item (for styling)
  var itemsCount = MyItems.Count();
  var itemIndex = 0;

  // Default Toolbar with prefill for add and Edit Title with Text 
  var itemToolbar = Kit.Toolbar.Default(tweak: b => b.FormParameters("hideImage", true));
}

@* Show all the content-items - one or more *@
@foreach (var item in MyItems) 
{
  // if last item, add class to the row to add margin-bottom
  var rowClass = ++itemIndex == itemsCount ? "mb-4 mb-lg-5" : "";
  
  <div class='row @rowClass'>
    <div class='col-md-@cols offset-md-@padding @styling' @itemToolbar.For(item)>
      @* call sub-template to show the title with the correct H1-H6 tag *@
      @Html.Partial("../shared/Header tag.cshtml", new { item, HeadingType = item.Presentation.String("HeadingType") })
      @item.Html("Text", toolbar: false)
    </div>
  </div> 
}

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts"})