@inherits Custom.Hybrid.RazorTyped
@using ThisApp
@using ThisApp.Data

@*  This Template is used in ca. 3 Views which only show the title and the text *@

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@{
  var settings = AsItem<TextOnlyViewSettings>(MyView.Settings);
}

@* Show all the content-items - one or more *@
@foreach (var item in ContentHelpers.PrepareList(AsItems<Content>(MyItems))) {

  <div class='row @item.RowClass'>
    <div class='col-md-@settings.ColsElement1 offset-md-@settings.ColsPaddingLeft @settings.Styling' @ContentHelpers.Toolbar(Kit, item)>
      @TitleMaker.Title(Kit, item)
      @item.Html("Text", toolbar: false)
    </div>
  </div>

}

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts"})