@* Use custom Razor base class located in /ThisApp/Razor with additional helpers *@
@inherits ThisApp.Razor.TextImageBase
@using ThisApp
@using ThisApp.Data

@*** This Template is used to only show the title (no text, no image ***@

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@* Show all the content-items - one or more *@
@foreach (var item in Helpers.PrepareList(AsList<TextImage>(MyItems)))
{
  <div class='@item.RowClass' @Helpers.TextImageToolbar(item, hideImage: true, hideText: true)>
    @Helpers.ShowTitle(item)
  </div>
}

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts" })