@inherits Custom.Hybrid.Razor14
@{
  /* This Template is used in ca. 5 Views which show title, text and image */

  // define dom attribute for fancybox
  var fancyboxAttribute = "app-content-fancybox-group"; 
  var isTextFirst = Settings.TextFirst;

  // Determine the widths of each part, based on 12 Bootstrap columns
  var colsText = isTextFirst ? Settings.ColsElement1 : 12 - Settings.ColsElement1;
  var colsImg = 12 - colsText;
  var showImgBetweenTitleAndText = colsImg == 0; // if image has 0 columns, it's between title / text

  // Prepare items to show, count and index to find the last item (for styling)
  var allItems = AsList(Data);
  var itemsCount = allItems.Count();
  var itemIndex = 0;
}

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@* Show all the content-items - one or more *@
@foreach (var item in allItems) {
  var rowClass = ++itemIndex == itemsCount ? "mb-4 mb-lg-5" : ""; // if last item, add class to the row to add margin-bottom

  <div class='row @rowClass' @Edit.TagToolbar(item)>
    <div class='col-md-@colsText order-md-@(isTextFirst ? "first" : "last")'>
      @* call sub-template to show the title with the correct H1-H6 tag *@
      @Html.Partial("../shared/Header tag.cshtml", new { Item = item, HeadingType = item.Presentation.HeadingType })

      @if (showImgBetweenTitleAndText) {
        @Html.Partial("Text and Image.Part-Image.cshtml", new { Item = item })
      }

      @Html.Raw(item.Text)
    </div>

    @* If the image has it's own column, it's here *@
    @if (!showImgBetweenTitleAndText) {
      <div class='col-md-@colsImg order-md-@(!isTextFirst ? "first" : "last")'>
        @* call sub-template to show the image with all possible options *@
        @Html.Partial("Text and Image.Part-Image.cshtml", new { Item = item, Columns = colsImg, FancyboxAttribute = fancyboxAttribute})
      </div>
    }
  </div>

  if (!Header.AlternatePositions) { continue; }
  isTextFirst = !isTextFirst;
}

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts"})
@Html.Partial("../shared/FancyboxAssets.cshtml", new { FancyboxAttribute = fancyboxAttribute })
