@inherits ToSic.Sxc.Dnn.RazorComponent
@*
  Bootstrap 3 - read the readme.md section "CSS Framework Detection"
*@
@if(Connect.Koi.Koi.Is("bs3")) {
  @RenderPage("../bs3/Video/_Full Width.cshtml")
  return;
}
@*
  Bootstrap 4 or Unknown CSS Framework
*@
@RenderPage("../bs4/shared/_Assets.cshtml", new { parts = "styles"})

@{
  var videoId = System.Text.RegularExpressions.Regex.Match(Content.VideoLink, "v=([^&]+)");
	var youtubeMatch = new System.Text.RegularExpressions.Regex(@"youtu(?:\.be|be\.com)/(?:.*v(?:/|=)|(?:.*/)?)([a-zA-Z0-9-_]+)").Match(Content.VideoLink);
}
<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner" @Edit.TagToolbar(Content)>
		<div class="embed-responsive embed-responsive-16by9">
			@if (youtubeMatch.Success) {
				<iframe class="embed-responsive-item"
          src="@("https://www.youtube.com/embed/" + @youtubeMatch.Groups[1].Value + "?controls=1&fs=1&modestbranding=0&rel=0&showinfo=0&autohide=1&iv_load_policy=3&theme=dark&wmode=transparent")"
          allowfullscreen></iframe>
			}
			else {
				<div class="dnnFormMessage dnnFormWarning">Video not found. Please check Video-Link.</div>
			}
		</div>
	</div>
</div>