@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  /* This Template is used in ca. 5 Views which show title, text and video */

  var isTextFirst = Settings.TextFirst;

  // Determine the widths of each part, based on 12 Bootstrap Cols
  var colsText = isTextFirst ? Settings.ColsElement1 : 12 - Settings.ColsElement1;
  var colsImg = 12 - colsText;
  var showImgBetweenTitleAndText = colsImg == 0; // if image has 0 columns, it's between title / text
  
  var allItems = AsList(Data);
  var itemsCount = allItems.Count();
  var itemIndex = 0;
}

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@* Show all the content-items - one or more *@
@foreach (var item in allItems) {

  var rowClass = ++itemIndex == itemsCount ? "mb-4 mb-lg-5" : ""; // if last item, add class to the row to add margin-bottom

  <div class="co-container-outer mb-4 mb-md-5">
    <div class="co-container-inner clearfix co-content" @Edit.TagToolbar(item)>
      <div class='row @rowClass'>
        <div class='col-md-@colsText @(isTextFirst ? "" : "col-md-push-" + @colsImg)'>
          @* call sub-template to show the title with the correct H1-H6 tag *@
          @Html.Partial("../shared/Header tag.cshtml", new { Item = item, HeadingType = item.Presentation.HeadingType })

          @* If the image doesn't have it's own column, its between title/text *@
          @if (showImgBetweenTitleAndText) {
            @Html.Partial("Part Video.cshtml", new { Columns = 12, Video = item })
          }

          @Html.Raw(item.Text)
        </div>
        @* If the image has it's own column, it's here *@
        @if (!showImgBetweenTitleAndText) {
          <div class='col-md-@colsImg @(isTextFirst ?  "" : "col-md-pull-" + @colsText)'>
            @Html.Partial("Part Video.cshtml", new { Columns = colsImg, Video = item })
          </div>
        }
      </div>
    </div>
  </div>
}

@Html.Partial("../shared/Assets.cshtml", new { parts = "icons, scripts" })