@inherits Custom.Hybrid.Razor12
@{
  // Basics / Preparation
  var webResources = Settings.WebResources;             // Global predefined web resources
  var pageCss = GetService<Connect.Koi.ICss>();         // Service to get CSS information about the current Theme
  var page = GetService<ToSic.Sxc.Web.IPageService>();  // Service to set titles etc. on the page

  // show warning for admin if koi.json is missing
  if (pageCss.IsUnknown && CmsContext.User.IsSiteAdmin) {
    <div class='dnnFormMessage dnnFormWarning'>
      @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
      @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
    </div>
  }

  // This sub template just places all the very-often used
  // style and link tags into the code.
  // We put this in a sub-template because we use it so often, and want to make sure
  // nobody accidentally uses the wrong url or forgets data-enableoptimizations
  string partList = DynamicModel.parts;
  var parts = partList.Split(',').Select(s => ((string)s).ToLower().Trim()).ToArray();
  var all = parts.Contains("all");
  var fancybox = all || parts.Contains("fancybox");
  var styles = all || parts.Contains("styles");
  var scripts = all || parts.Contains("scripts");
  var icons = all || parts.Contains("icons");
  var videos = all || parts.Contains("videos");
  var height = all || parts.Contains("height");
  var images = all || parts.Contains("images");

  // Include icon font - the exact HTML for this is in the SystemSettings
  if (icons) {
    var resIcons = webResources.FontAwesome5;
    if (resIcons.Enabled) { @Html.Raw(resIcons.Html) }
  }

}

@* Add Fancybox if required - as specified in the App Settings *@
@if (fancybox) {
  page.Activate("turnOn");
  var resFb = webResources.fancybox4;
  @Html.Raw(resFb.Html)
}

@if (styles) { <link rel="stylesheet" href="@App.Path/dist/bs3.min.css" data-enableoptimizations="true" /> }
@if (images) { <turnOn turn-on='{"await": ["window.Fancybox"], "run": "window.appFb.initFancybox()", "data": { "moduleId": "@CmsContext.Module.Id", "type": "image", "options": { "groupAll": true, "Thumbs": {"autoStart": false}, "Image": {"zoom": false}}}}'></turnOn>}
@if (scripts) { <script type="text/javascript" src="@App.Path/dist/scripts.min.js" data-enableoptimizations="bottom"></script> }
@if (height) { <script type="text/javascript" src="@App.Path/dist/lib/jquery.syncHeightResponsive.min.js" data-enableoptimizations="bottom"></script> }

@if (videos) {
  page.Activate("turnOn"); // see https://r.2sxc.org/turnon
  <script type="text/javascript" src="@App.Path/dist/scripts.min.js" data-enableoptimizations="bottom"></script> 
  @* Trigger protected mails to appear; activation uses turnOn https://r.2sxc.org/turnon *@
  <turnOn turn-on='{ "await": ["window.$"], "run": "window.appContent.showEncryptedMails()" }'></turnOn>
}
@* Turn On various features as needed. Activation uses turnOn https://r.2sxc.org/turnon *@
@if (videos) {
  <turnOn turn-on='{ "await": ["window.$"], "run": "window.appContent.activateYouTubeInline()" }'></turnOn>
  <turnOn turn-on='{ "await": ["window.Fancybox"], "run": "window.appFb.initFancybox()", "data": { "moduleId": "@CmsContext.Module.Id", "type": "video" }}'></turnOn>
}