@inherits Custom.Hybrid.Razor14
@{
  // show warning for admin if koi.json is missing
  if (Kit.Css.IsUnknown && CmsContext.User.IsSiteAdmin) {
    <div class='dnnFormMessage dnnFormWarning'>
      @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
      @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
    </div>
  }

  // This sub template just places all the very-often used
  // style and link tags into the code.
  // We put this in a sub-template because we use it so often, and want to make sure
  // nobody accidentally uses the wrong url or forgets Kit.Page.AssetAttributes()
  string partList = DynamicModel.parts as string ??  "";
}

@* Always Include styles *@
<link rel="stylesheet" href="@App.Path/bs3/dist/styles.min.css" @Kit.Page.AssetAttributes() />

@* Include icon font from SystemSettings if we need them *@
@Kit.Page.Activate(condition: partList.Contains("icons"), features: "FontAwesome5")

@* Include javascript *@
@if (partList.Contains("scripts")) {
  <script type="text/javascript" src="@App.Path/bs3/dist/scripts.min.js" @Kit.Page.AssetAttributes(position: "bottom") ></script>
}