@inherits Custom.Hybrid.Razor14
@{
  /* This Template is used in ca. 3 Views which only show the title and the text */

  var cols = Settings.ColsElement1;
  var padding = Settings.ColsPaddingLeft;
  var styling = Settings.TextAlignment == "c" ? "text-center" : "";

  var allItems = AsList(Data);
  var itemsCount = allItems.Count();
  var itemIndex = 0;
  // Default Toolbar with prefill for add and Edit Title with Text 
  var itemToolbar = Kit.Toolbar.Default(tweak: b => b.FormParameters("hideImage", true));
}

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@* Show all the content-items - one or more *@
@foreach (var item in allItems) 
{

  var rowClass = ++itemIndex == itemsCount ? "mb-4 mb-lg-5" : ""; // if last item, add class to the row to add margin-bottom

  <div class="co-container-outer">
    <div class="co-container-inner">
      <div class='row @rowClass'>
        <div class="clearfix co-content @styling col-md-@cols col-md-push-@padding"  @itemToolbar.For(item)>
          @* call sub-template to show the title with the correct H1-H6 tag *@
          @Html.Partial("../shared/Header tag.cshtml", new { Item = item, HeadingType = item.Presentation.HeadingType })
          @Html.Raw(item.Text)
        </div>
      </div>
    </div>
  </div>
}

@* This adds all link/script tags *@
@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts"})