@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@* This adds all link/script tags *@
@RenderPage("../shared/_Assets.cshtml", new { parts = "scripts"})
<script type="text/javascript" src="@App.Path/dist/lib/google-map.js" data-enableoptimizations="true"></script>

@{
  // we need a unique ID for the map, in case there are many on the same page
  var mapId = Dnn.Module.ModuleID;

  // Language is used for the map-link
  var language = Dnn.Portal.CultureCode.Split(new[] { '-' })[0];

  @* todo: show 2az & 2tl *@
  // GPS is a JSON field, so we must use AsDynamic to access the properties
	var gps = AsDynamic(Content.GPS);
	var gpsLong = gps.Longitude ?? 0; // use 0 if not defined
	var gpsLat = gps.Latitude ?? 0;	  // use 0 if not defined

  // this link will be used to open the Google-Directions in a new window
  var directionurl = gpsLong > 0
		// if we have coordinates, use them
		? "https://www.google.com/maps/dir/" + gpsLat + "," + gpsLong
		// otherwise use the address
		: "https://maps.google.com/maps?daddr="
      + (Content.Street + " " + Content.ZipCode + " " + Content.City + " " + Content.Country)
        .Replace(" ", "+")
      // + "+" + Content.ZipCode.Replace(" ", "+")
      // + "+" + Content.City.Replace(" ", "+")
      // + "+" + Content.Country.Replace(" ", "+") 
      + "&amp;saddr=&amp;f=d&amp;hl=" + language + "&amp;ie=UTF8&amp;z=16";

}

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner" @Edit.TagToolbar(Content)>
		<div class="co-google-map-container embed-responsive embed-responsive-21by9">
			<div class="embed-responsive-item" id="GoogleMap-@mapId"></div>
			<div id="GoogleMap-Content-@mapId" style="display:none;">
				<div class="p-2 text-center">
					<h4>@Content.Company</h4>
					<div>@Html.Raw(Content.Description)</div>
					<a class="btn btn-outline-primary" target="_blank" href="@directionurl">@Content.LabelDirections</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
    @* todo: show 2az & 2tl *@
		var markerImage = "@Text.First(Content.Presentation.MarkerImage, "")";
		$("#GoogleMap-@(mapId)").toGoogleMap({
			position: {
				lat: @gpsLat,
				lng: @gpsLong
			},
			zoom: @Content.Presentation.Zoom,
			mapTypeId: "ROADMAP",
			infoWindowHtml: $("#GoogleMap-Content-@mapId").html(),
			showInfoWindow: true,
			icon: markerImage
		});
	});
</script>
