@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@*
  Bootstrap 3 - read the readme.md section "CSS Framework Detection"
*@
@if(Connect.Koi.Koi.Is("bs3")) {
  @RenderPage("../bs3/Location/_Full Size Map.cshtml")
  return;
}
@*
  Bootstrap 4 or Unknown CSS Framework
*@
@RenderPage("../bs4/shared/_Assets.cshtml", new { parts = "scripts"})
<script type="text/javascript" src="@App.Path/dist/lib/google-map.js" data-enableoptimizations="true"></script>

@{
  // get helper commands
  var Helpers = CreateInstance("../shared/_Helpers.cshtml");
  // run helper command
  var mapInfo = Helpers.MapInfos(Content);
  // we need a unique ID for the map, in case there are many on the same page
  var mapId = Dnn.Module.ModuleID;
}

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner" @Edit.TagToolbar(Content)>
		<div class="co-google-map-container embed-responsive embed-responsive-21by9">
			<div class="embed-responsive-item" id="GoogleMap-@mapId"></div>
			<div id="GoogleMap-Content-@mapId" style="display:none;">
				<div class="p-2 text-center">
					<h4>@Content.Company</h4>
					<div>@Html.Raw(Content.Description)</div>
					<a class="btn btn-outline-primary" target="_blank" href="@mapInfo.DirectionUrl">@Content.LabelDirections</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		var markerImage = "@Text.First(Content.Presentation.MarkerImage, "")";
		$("#GoogleMap-@(mapId)").toGoogleMap({
			position: {
				lat: @mapInfo.GpsLat,
				lng: @mapInfo.GpsLong
			},
			zoom: @Content.Presentation.Zoom,
			mapTypeId: "ROADMAP",
			infoWindowHtml: $("#GoogleMap-Content-@mapId").html(),
			showInfoWindow: true,
			icon: markerImage
		});
	});
</script>
