@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  // Build Helper object and get map infos
  var locationHelper = CreateInstance("LocationHelper.cs");
  var mapInfo = locationHelper.MapInfos(Content);

  // we need a unique ID for the map, in case there are many on the same page
  var mapId = CmsContext.Module.Id;
}

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner" @Edit.TagToolbar(Content)>
		<div class="co-google-map-container embed-responsive embed-responsive-21by9">
			<div class="embed-responsive-item" id="GoogleMap-@mapId"></div>
			<div id="GoogleMap-Content-@mapId" style="display:none;">
				<div class="p-2 text-center">
					<h4>@Content.Company</h4>
					<div>@Html.Raw(Content.Description)</div>
					<a class="btn btn-outline-primary" target="_blank" href="@mapInfo.DirectionUrl">@Content.Presentation.LabelDirections</a>
				</div>
			</div>
		</div>
	</div>
</div>

@Html.Partial("../shared/_Assets.cshtml", new { parts = "scripts,icons"})
@Html.Partial("_Part GoogleMaps.cshtml", new { markerImage = Content.Presentation.MarkerImage, mapId = mapId, mapInfo = mapInfo, company = Content.Company })
