@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;

@{
  // Resolution multiplier - usually set at App level
  var resFactor = Settings.ImageHighResOn ? 2 : 1;

  var columns = 12 / Settings.MaxPerRow;
  var width = Settings.ImageWidth * resFactor;
  
  // Get height - note that it's often not defined = automatic
  var height = Settings.ImageHeight;
  if(height != null) { height = height * resFactor; }

  // All these settings are required at App level
  var quality = Settings.ImageQuality;
  var lightboxQuality = Settings.LightboxImageQuality;
  var lightboxFactor = Settings.LightboxImageHighResOn ? 2 : 1;
  var zoomW = Settings.LightboxImageWidth * lightboxFactor;
  var zoomH = Settings.LightboxImageHeight * lightboxFactor;
  
}

<div class="co-container-outer">
  <div class="co-container-inner row">
    @foreach (var img in AsList(Data)) {

      <div class='@(columns > 10 ? "col-12" : "col-12 col-sm-6") col-lg-@columns mb-3' @Edit.TagToolbar(img)>

        @if (img.Presentation.ImageLightbox != false) {
            @:<a class="xxxfancybox" href="@Tags.SafeUrl(img.Image + "?quality=" + lightboxQuality + "&maxwidth=" + zoomW + "&maxheight=" + zoomH)" data-caption="@(img.Presentation.TitleLightbox != false ? img.Title : "")" data-fancybox="group-@CmsContext.Module.Id">
        }
        <figure>
            <div class="overlay w-100 h-100"></div>
            @if(img.Presentation.TitleLegend != false) {
              <figcaption class="pt-1 px-3 px-md-4 pb-3 pb-md-4 text-white">@img.Title</figcaption>
            }

            <img class="w-100"
              src='@Tags.SafeUrl(img.Image + "?w=" + width + "&h=" + height + "&anchor=" + img.CropAnchor + "&mode=crop&scale=both&quality=" + quality)'
              alt="@img.Title" />
        </figure>

        @if (img.Presentation.ImageLightbox != false) {
          @:</a>
        }

      </div>
    }
  </div>
</div>

@Html.Partial("../shared/_Assets.cshtml", new { parts = "fancybox,styles,scripts"})