@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  // Determine the widths of each part, based on 12 Bootstrap Cols
  const int bsColumns = 12;
  var columns = bsColumns / Settings.MaxPerRow;
  var fraction = 1 / Settings.MaxPerRow; // percentage of the content-width
  var width = (int)(Settings.Images.Content.Width * fraction);
  
  // Get height - note that it's often not defined = automatic
  var height = Settings.ImageHeight ?? 0; // 0 means not set

  // All these settings are required at App level
  var quality = Settings.Images.Content.Quality;
  var lightbox = Settings.Images.Lightbox;
}

<div class="co-container-outer">
  <div class="co-container-inner row">
    @foreach (var img in AsList(Data)) {

      <div class='@(columns > 10 ? "col-12" : "col-12 col-sm-6") col-lg-@columns mb-3' @Edit.TagToolbar(img)>

        @if (img.Presentation.ImageLightbox != false) {
            @:<a href="@Tags.SafeUrl(img.Image + "?mode=" + lightbox.ResizeMode + "&quality=" + lightbox.Quality + "&w=" + lightbox.Width + "&h=" + lightbox.Height)" data-caption="@(img.Presentation.TitleLightbox != false ? img.Title : "")" data-fancybox="group-@CmsContext.Module.Id">
        }
        <figure>
            <div class="overlay w-100 h-100"></div>
            @if(img.Presentation.TitleLegend != false) {
              <figcaption class="pt-1 px-3 px-md-4 pb-3 pb-md-4 text-white">@img.Title</figcaption>
            }

            <img class="w-100"
              src='@Tags.SafeUrl(img.Image + "?w=" + width + "&h=" + height + "&anchor=" + img.CropAnchor + "&mode=crop&scale=both&quality=" + quality)'
              alt="@img.Title" />
        </figure>

        @if (img.Presentation.ImageLightbox != false) {
          @:</a>
        }

      </div>
    }
  </div>
</div>

@Html.Partial("../shared/_Assets.cshtml", new { parts = "fancybox,styles,scripts"})